language: node_js
node_js:
  - "6"
  - "8"
  - "10"
env:
  - HOUSEKEEP=
  - HOUSEKEEP=yes
matrix:
  exclude:
    - node_js: "6"
      env: HOUSEKEEP=1
    - node_js: "8"
      env: HOUSEKEEP=1
    - node_js: "10"
      env: HOUSEKEEP=0
before_install:
  - "if [ -n $HOUSEKEEP ]; then npm install -g greenkeeper-lockfile@1; fi"
before_script: "if [ -n $HOUSEKEEP ]; then greenkeeper-lockfile-update; fi"
script:
  - "if [ -n $HOUSEKEEP ]; then npm run lint; fi"
  - "if [ -n $HOUSEKEEP ]; then npm test -- --coverage; else npm test; fi"
  - "if [ -n $HOUSEKEEP ]; then npm run build; fi"
after_script: "if [ -n $HOUSEKEEP ]; then greenkeeper-lockfile-upload; fi"
after_success:
  - "if [ -n $HOUSEKEEP ]; then bash <(curl -s https://codecov.io/bash); fi"
