language: node_js
node_js:
  - "6"
  - "8"
  - "10"
env:
  - HOUSEKEEP=
  - HOUSEKEEP=yes
matrix:
  exclude:
    - node_js: "6"
      env: HOUSEKEEP=yes
    - node_js: "8"
      env: HOUSEKEEP=yes
    - node_js: "10"
      env: HOUSEKEEP=
script:
  - "if [[ -n $HOUSEKEEP ]]; then npm run lint; fi"
  - "if [[ -n $HOUSEKEEP ]]; then npm test -- --coverage; else npm test; fi"
  - "if [[ -n $HOUSEKEEP ]]; then npm run build; fi"
after_success:
  - "if [[ -n $HOUSEKEEP ]]; then bash <(curl -s https://codecov.io/bash); fi"
